<div class="container1">
    <img src="https://lh3.googleusercontent.com/proxy/mlICvpptuGSDezvxhIqnrI8-BDOhig82Jem8oxddM9G5MTJB5PqtQq96dIe2WCTGAcV41MR06VJk26qYEjeONHXkKiH3cN0BhvWWh2Bx8PaTt48mfFhiHftWX2Ck0Ss4-HtkBjJoGwUbvR5UoFg" alt="">

    <h3 style="text-align: center;">
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]"  
      >
        {{ product.name }}
      </a>
    </h3>
  
    <p *ngIf="product.description" style="text-align: center;">
      <ng-content select=".description"></ng-content>
    </p>
    
    <div style="display: flex; flex-direction: column; align-items: center;">
        <ng-content select=".actions"></ng-content>
    </div>
</div>